<a href="https://colab.research.google.com/github/poseidon3718/copyright_python/blob/main/Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

day 3 프로그램

In [1]:
print("Hello")
print('hello','everyone')
print('hello', end='!!!')

Hello
hello everyone
hello!!!

In [2]:
print("Hello")
print('hello','everyone')
print('hello'+'everyone')
print('hello', end='')
print('test')

Hello
hello everyone
helloeveryone
hellotest

In [3]:
a=123
b='hello'
print(a,b)
print(a,456,b,'world')

123 hello
123 456 hello world

In [6]:
print('Hello World')
print("Nice to meet you.")
print('Hello "World"')
print("Hello 'World'")
print('Hello','World')
print('Hello'+'World')

Hello World
Nice to meet you.
Hello "World"
Hello 'World'
Hello World
HelloWorld

In [8]:
print("화면에 직접 출력")
print('ab\'c')
print("ab'c")
print("dosen't")
print('does')
print('dosen\'t')
print("'string'")
print("\"string\"")
print('"string"')

화면에 직접 출력
ab'c
ab'c
dosen't
does
dosen't
'string'
"string"
"string"

In [9]:
s1='화면에 직접 출력'
s2='ab\'c'
s3='does'
print(s1)
print(s2)
print(s3)
print(s1[0])
print(s2[1])
print(s3[1:3])
print(s3[-1])
print(s3[-2])

화면에 직접 출력
ab'c
does
화
b
oe
s
e

In [10]:
a=2
b=3.14
c=a+b
print(a)
print(b)
print(c)
print(round(c,2))
print("%.3f"%(c))
print(a+b)
print(a,b,a+b,c)
d=1e2
e=1e-2
print(d)
print(e)

2
3.14
5.140000000000001
5.14
5.140
5.140000000000001
2 3.14 5.140000000000001 5.140000000000001
100.0
0.01

In [11]:
item1='사과'
price1=1000
item2='바나나'
price2=500
print(item1,price1)
print(item2,price2)

사과 1000
바나나 500

In [12]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
print(item1, price1, sep=',',end='/')
print(item2, price2)

사과,1000/바나나 500

In [13]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
str1 = '{0}는 {1}원입니다.'
print(str1.format(item1, price1))
print(str1.format(item2, price2))

사과는 1000원입니다.
바나나는 500원입니다.

In [14]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
str2 = '%s는 %d원입니다.'
print(str2%(item1, price1))
print(str2%(item2, price2))

사과는 1000원입니다.
바나나는 500원입니다.