<a href="https://colab.research.google.com/github/poseidon3718/copyright_python/blob/main/Class_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

day 10 프로그램

In [1]:
def func1():
    print('BlockDMask')

#함수 호출
func1()
func1()
func1()

for i in range(3):
    func1()

BlockDMask
BlockDMask
BlockDMask
BlockDMask
BlockDMask
BlockDMask

In [2]:
def func2(a,b):
    print(f'{a} 곱하기 {b} = {a+b}')

#함수 호출
func2(1,2)
func2(1,3)
func2(2,4)

1 곱하기 2 = 3
1 곱하기 3 = 4
2 곱하기 4 = 6

In [3]:
def func3():
    return "abcdefg"

#함수 호출

a=func3()
print(a,"GG", sep=" " )

abcdefg GG

In [4]:
def func4(a,b):
	return a + b

a = input()
c = func4(int(a), 9)
print(c)

3
12

In [5]:
def func6(*args):
    a=0
    for i in args:
        a = a+i
    return a

b = func6(1,5)
print(b)

c=func6(2,3,4,5)
print(c)

d=func6(1,2,3,4,5,4,3,2,1)
print(d)

e=func6()
print(e)

6
14
25
0

In [6]:
def test(*val):
    for i in val:
        print(i)

test(1,'a','c',3)

1
a
c
3

In [7]:
def sum_mul(choice,*val):
    if choice =='sum':
        result = 0
        for i in val:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in val:
            result = result * i
    print()
    return result

print(sum_mul('sum',1,2,3,4,5))

print(sum_mul('mul',1,2,3,4,5))

15

120

In [8]:
def report(name,age,score):
    print(name,score)

report(age=10, name="Kim",score=80)
report("Kim",10,80)

Kim 80
Kim 80

In [10]:
'''
# 함수를 안쓴 경우
for i in range(1,10):
    print(f'{2}x{i} = {2*i}')
for i in range(1,10):
    print(f'{3}x{i} = {3*i}')

print()
print()
print()
'''

def gugudan(num):
    for i in range(1,10):
        print(f'{num}x{i}={num*i}')
    print()
#구구단 출력
gugudan(2)

gugudan(4)

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36

In [11]:
#디폴트 파라미터 예제 1
def func1(a, b=5, c=10):
    return a + b + c

func1(1,2,3)
func1(1,2)
func1(1)

#디폴트 파라미터 예제 2
def func2(a=10, b=20):
    return a+b

print(func2(1, 2))
print(func2(1))
print(func2())

3
21
30

In [12]:
#디폴트 파라미터 예제 3 - error
 def func3(a=10,b,c): #error
      return a+b+c
func3(1,2)

func3(,1,2)

  File "<ipython-input-17-320d5d627c40>", line 2
    def func3(a=10,b,c): #error
                   ^
SyntaxError: non-default argument follows default argument

IndentationError: unexpected indent (<ipython-input-12-bec6d0a346dc>, line 2)

In [13]:
def comp(score=0):
    if score ==0:
        return 0
    elif score > 50:
        return 2
    else:
        return 1

grade = comp (40)
print("Grade is", grade,"for",40)

grade = comp (80)
print("Grade is",grade,"for",80)

grade = comp()
print("Grade is",grade,"for no score")

Grade is 1 for 40
Grade is 2 for 80
Grade is 0 for no score